node_modules

# Notes
.cv-desarrollador-web.md

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.qodo
.vite

.txt

How to use SCSS (Sass) with Svelte and media query mixins.txt

/static/backups_components/

