@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';
// @import './typed.scss';
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  /* Brand colors */
  --color-black: #121212;
  --color-dark: #2d2d2d;
  --color-medium: #464646;
  --color-light: #a0a0a0;
  --color-white: #f5f5f5;
  --color-red: #d8444b;
  --color-lightred: #e7595b;
  /* Fonts */
  --main-font: 'JetBrains Mono', monospace;
}

::selection {
  background-color: var(--color-red);
  color: var(--color-white);
}

body {
  margin: 0; /* Eliminar margen */
  font-family: 'Sans Serif'; /* Establecer tipografía Sans Serif */
  background-color: black; /* Asegurar que el fondo sea negro */
  color: white; /* Asegurar que el texto sea blanco */
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

p {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

h1, h2, h3, p {
  color: #f5f5f5;
}

@mixin screen-size($breakpoint) {
  @if $breakpoint == 'small' {
    @media (max-width: 40rem) { @content; } // 40rem (640px)
  } @else if $breakpoint == 'medium' {
    @media (max-width: 48rem) { @content; } // 48rem (768px)
  } @else if $breakpoint == 'large' {
    @media (max-width: 64rem) { @content; }	// 64rem (1024px)
  } @else if $breakpoint == 'xlarge' {
    @media (max-width: 80rem) { @content; } //	80rem (1280px)
  }
}

// Usage example:
// .example {
//   @include screen-size('medium') {
//     font-size: 14px;
//   }
// }


// testing scss
// $primary-color: #3498db;
// $secondary-color: #e74c3c;

// h1 {
//   background-color: $primary-color;
  
//   &:hover {
//     background-color: $secondary-color;
//   }
// }

// .typed-text {
//   // @include typed("Hello! I'm Sebastián", [.1, null, null, .5]);
//   @include typed("String 1" (caret: true, iterations: 1));
// }

// .profile-text {
//   @include typed("Web Developer", "Graphic Designer", "Freelancer", "Full Stack Developer", "Frontend Developer", "Backend Developer");
// }
